In [19]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_csv("../Datasets/Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [21]:
X=df.drop("CustomerID",axis=1)

In [22]:
X1=pd.concat([X,pd.get_dummies(df["Genre"],drop_first=True)],axis=1)

In [23]:
X1=X1.drop("Genre",axis=1)

In [24]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X1[["Age","Annual Income (k$)","Spending Score (1-100)"]]=min_max.fit_transform(X1[["Age","Annual Income (k$)","Spending Score (1-100)"]])

In [25]:
X1

          Age  Annual Income (k$)  Spending Score (1-100)  Male
0    0.019231            0.000000                0.387755     1
1    0.057692            0.000000                0.816327     1
2    0.038462            0.008197                0.051020     0
3    0.096154            0.008197                0.775510     0
4    0.250000            0.016393                0.397959     0
..        ...                 ...                     ...   ...
195  0.326923            0.860656                0.795918     0
196  0.519231            0.909836                0.275510     0
197  0.269231            0.909836                0.744898     1
198  0.269231            1.000000                0.173469     1
199  0.230769            1.000000                0.836735     1

[200 rows x 4 columns]

In [26]:
from sklearn.cluster import DBSCAN
db_scan=DBSCAN(eps=3,min_samples=4)

In [27]:
model=db_scan.fit(X1)

In [30]:
labels=model.labels_

In [32]:
from sklearn import metrics
sample_core=np.zeros_like(labels,dtype=bool)

In [36]:
sample_core[db_scan.core_sample_indices_]=True

In [38]:
n_clusters=len(set(labels))- (1 if -1 in labels else 0)

In [39]:
n_clusters

1

In [42]:
# print(metrics.silhouette_score(X1,labels))